body {
    width:100vw;
    height:100vh;
    margin: 0;
}

.content {
    width: 100vw;
    height: 1330px;
    margin: 0;
    }


h2 {
    font-weight: 900;
    font-family: 'Georgia', serif, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 12px;
}

p {
    font-weight: 900;
    color:  rgb(94, 6, 94); 
    font-family:'Merienda', italic, serif;
    font-size: 12px;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.contact-container {
    height: 30px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
   background-color: rgb(243, 242, 242);
   background-image: linear-gradient(rgb(173, 173, 173), rgb(211, 209, 209), rgb(228, 227, 227),  rgb(243, 242, 242));
   border: solid rgb(211, 209, 209);
}

.link-wrapper {
    display: flex;
    text-align: center;
}

.contact-link a i {
    padding: 1px 100px 1px 100px;
    text-align: center;
    text-decoration: none;
    color:  rgb(97, 3, 97);
}

.contact-link a i:hover {
    color: rgb(248, 6, 228);
    text-decoration: none;
    transform: scaleX(1.25);
    transition: 1s;   
}

.background {
    background-image: url(assets/BloodsLake.JPG);
    width: 100vw;
    height: 400px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    padding: 0 0 15px 0;
}

.hello {
    padding-right:225px;
    float: right;
    width: 175px;
    padding-top: 6px;   
}

.hello h1{
    font-size: 36px; 
    font-weight: 900;
    font-family: 'Merienda', italic, serif;
    color: rgb(196, 183, 202);
    animation-name: hello;
    animation-duration: 5s;
    animation-direction: alternate; 
    animation-iteration-count: 1;
    letter-spacing: 6px;
    text-shadow: 1px 1px 1px black;
    
}   

@keyframes hello {
 0% {color: rgb(97, 3, 97); letter-spacing: 2px}
 20% {color: rgb(109, 38, 138)};
 40% {color: rgb(158, 97, 182); letter-spacing: 4px}
 60% {color: rgb(178, 132, 196)};
 80% {color: rgb(178, 158, 185); letter-spacing:6px}
 90% {color: rgb(196, 183, 202)};
 100% {color: rgb(219, 210, 223); letter-spacing: 8px}
}

.name-container {
    padding: 6px 0 6px 0;
    width: 100vw;
    display: flex;
    justify-content: center; 
    text-align: center;
    background-color: rgb(243, 242, 242);
    background-image: linear-gradient(rgb(173, 173, 173), rgb(211, 209, 209), rgb(228, 227, 227),  rgb(243, 242, 242));
    border: solid rgb(211, 209, 209);
}

.name {
    display: flex; 
    font-family:'Merienda', italic, serif;
    font-weight: 900;
    font-size: 20px;
    color: rgb(97, 3, 97);
    text-shadow: 1px 1px 1px black;
}

.background-planks {
    background: url(assets/woodplanks2.jpg);
}

.mid-block {
    height: 315px;
}

.image-block {
    float: left; 
    margin-left: 75px; 
    justify-content: center;
    align-content: center;
    padding-top: 10px; 
}

.image {
    height: 225px; 
    border-radius: 20%;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 1);
}

.about-me-container {
    display: flex; 
    justify-content: center;
}

.paper {
    background-image: url(assets/tornpaper2.png);
    background-size: cover;
    padding: 50px 10px 10px 20px;
    background-repeat: no-repeat;
}

.about-me-block {
    float: right;
    width: 375px; 
}

.about-me-grid-container {
display: grid;
grid-template-columns: 180px 70px;
grid-column-gap: 75px;
width: 100vw;
display: flex; 
align-content: center;

}

.grid-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 250px; 
}

.grid-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 38px; 
    align-content: right; 
    justify-content: right; 
    margin-left: 50px;  
}

.background-headings {
    font-family: 'Merienda', italic, serif;
    padding-top: 7px;  
    font-size: 20px;
    font-weight: 900;
    color:  rgb(94, 6, 94); 
    text-shadow: 1px 1px 1px black;
}


.description {
    padding-left: 20px; 
    font-family: 'Indie Flower', cursive;
    font-size: 11px;
    font-weight: 900;
    color:  rgb(94, 6, 94); 
}

.first-paragraph {
    padding-right: 40px;
}

.second-paragraph {
    padding-left: 10px; 
    padding-right: 20px;
}

.third-paragraph {
    padding-left: 20px; 
}

.skills-box {
    align-content: center; 
    justify-content: center;
    background-color:  rgb(243, 242, 242);
    margin-right: 150px; 
    padding: 2px 6px 2px 6px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 1);
}

.bullet-points {
    padding-left: 28px; 
    font-family: 'Georgia', serif, sans-serif;
    font-size: 11px;
    font-weight: 900;
    color:  rgb(94, 6, 94); 
}


.flex-container {
width: 100vw;
display: flex;
align-content: center;
justify-content: center;
height: 490px; 
padding-bottom: 10px; 
padding-top: 30px; 
}

.resume {
    width: 550px; 
    height: 450px;
   padding: 0 0 5px 0;
    object-fit: fill;
    font-size: 10px;
    text-decoration: none; 
    background-color:  rgb(243, 242, 242); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 1);
}

.res-headers {
    font-family: 'Merienda', italic, serif;
    font-size: 14px;
    font-weight: 900;
    text-shadow: 0.5px 0.5px; 
    color: rgb(82, 2, 82);
    padding-left: 2px;
    padding-top: 2px;
    text-indent: 5px;
}

.res-headers-box {
    background-color: rgb(233, 212, 245);
    height: 25px; 
   }

.res-style1 {
    font-family: 'Georgia', serif, sans-serif;
    font-size: 12px;
    font-weight: 900;
    padding-left: 20px; 
}

.res-style2 {
    font-family: 'Georgia', serif, sans-serif;
    font-size: 11px;
    padding-left: 20px; 
}

.res-style3 {
    font-family: 'Georgia', serif, sans-serif;
    font-size: 10px;
    font-weight: 900;
    padding-left: 10px; 
}
 

.footer {
    align-self: flex-end;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    padding-top: 2px;
    color: black; 
    background-image: linear-gradient( rgb(211, 209, 209), rgb(228, 227, 227),  rgb(243, 242, 242));
}

