body {
    max-width:100%;
    height:auto;
    margin: 0;
}

.content {
    width: 100%;
    height: 4650px;
    }


h2 {
    font-weight: 900;
    font-family: 'Georgia', serif, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 48px;
}

p {
    color: black; 
    font-family: 'Georgia', serif, sans-serif;
    font-size: 36px;
}

.contact-container {
    height: 150px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
   background-color: rgb(243, 242, 242);
   background-image: linear-gradient(rgb(173, 173, 173), rgb(211, 209, 209), rgb(228, 227, 227),  rgb(243, 242, 242));
}

.link-wrapper {
    display: flex;
    text-align: center;
}

.contact-link a {
    padding: 30px 400px 30px 400px;
    text-align: center;
    text-decoration: none;
}

.contact-link h2 {
    font-weight: 900;
    font-family: 'Georgia', serif, sans-serif;
    font-size: 46px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.contact-link h2:hover {
    color: rgb(248, 6, 228);
    letter-spacing: 6px;
    text-decoration: none;
}

.icon {
    
    width: 150px;
    height: 150px; 
    display: block;
}

.background {
    background-image: url(assets/BloodsLake.JPG);
    width: 100%;
    height: 1600px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 2000px;
    padding: 0 0 60px 0;
}

.hello {
    padding-right:1100px;
    float: right;
    width: 700px;
    padding-top: 80px;   
}


.hello h1 {
    font-size: 80px; 
    font-weight: 900;
    font-family:  'Georgia', serif, sans-serif; 
    color: rgb(128, 32, 167);
    animation-name: hello;
    animation-duration: 3s;
    animation-direction: alternate; 
    animation-iteration-count: infinite;
    text-decoration: none; 
    text-shadow: 2px 2px 5px black;
}   

@keyframes hello {
 0% {color: rgb(210, 188, 219)}
 10% {color: rgb(176, 146, 192)}
 25% {color: rgb(169, 116, 190)}
 50% {color: rgb(154, 91, 184)}
 75% {color: rgb(129, 56, 163)}
 100% {color: rgb(128, 32, 167)}
}


.name-container {
    padding: 60px 0 60px 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    text-align: center;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(243, 242, 242);
    background-image: linear-gradient(rgb(173, 173, 173), rgb(211, 209, 209), rgb(228, 227, 227),  rgb(243, 242, 242));
}

.name {
    display: flex; 
    font-family: 'Architects_Daughter', serif, sans-serif;
    font-weight: 900;
    font-size: 78px; 
}

.about-me-container {
    display: flex; 
    justify-content: center;
    height: 900px;
    padding-bottom: 50px;
    border-style: outset;
}

.image-block {
    float: left; 
    margin-left: 300px; 
    justify-content: center;
    align-content: center;
    padding-top: 25px; 
    
}

.image {
    height: 900px; 
    border-radius: 20%;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 1);
}

.about-me-block {
    float: right;
    width: 1325px; 
}

.grid-container {
display: grid;
grid-template-columns: 500px 500px;
grid-column-gap: 700px;
height: 800px;
width: 100%;
display: flex; 
align-content: center;
justify-content: center;  
}

.grid-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 800px; 
}

.grid-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 150px; 
    align-content: right; 
    justify-content: right; 
    margin-left: 400px;  
}

.background-headings {
    font-family: 'Gabriola', serif, sans-serif; 
    font-size: 78px;
    font-weight: 900;   
}

.description {
    padding-left: 100px; 
    font-family: 'Georgia', serif, sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.skills-box {
    background-color:  rgb(243, 242, 242);
    margin-right: 650px; 
    padding: 0 30px 5px 40px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 1);
}


.flex-container {
display: flex;
align-content: center;
justify-content: center;
border-style: outset;
    border-width: 5px;
}

.resume {
    width: 2200px; 
    height: auto;
   padding: 10px 0 0 0;
    object-fit: fill;
    font-size: 38px;
    color: black; 
    text-decoration: none; 
}

.res-headers {
    font-family: 'Georgia', serif, sans-serif;
    font-size: 54px;
    font-weight: 900;
    text-shadow: 2px 2px; 
    color: purple;
}

.res-headers-box {
    background-color: rgb(233, 212, 245);
    height: 100px; 
   }

.res-style1 {
    font-family: 'Georgia', serif, sans-serif;
    font-size: 48px;
    font-weight: 900;
}

.res-style2 {
    font-family: 'Georgia', serif, sans-serif;
    font-size: 40px;
}

.res-style3 {
      font-family: 'Georgia', serif, sans-serif;
    font-size: 40px;
    font-weight: 900;
}
 

.footer {
    align-self: flex-end;
    margin-left: 10px;
    height: 80px;
    font-size: 40px;
    font-weight: 500;
    padding-top: 10px; 
    color: black; 
    background-image: linear-gradient( rgb(211, 209, 209), rgb(228, 227, 227),  rgb(243, 242, 242));
}

