

body {
    max-width: 100%;
    max-height:100vh;
    margin-inline: auto;

}

.content {
    min-height: 1490px;
    max-width: 100%;
    margin-inline: auto;
    }


h2 {
    font-weight: 900;
    font-family: 'Georgia', serif, sans-serif;
    color: black;
    text-decoration: none;
}

p {
    font-weight: 900;
    color:  rgb(94, 6, 94); 
    font-family:'Merienda', italic, serif;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.contact-container {
    margin-inline: auto;
    min-height: 50px;
    min-width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
   background-color: rgb(243, 242, 242);
   background-image: linear-gradient(rgb(250, 212, 239), rgb(253, 235, 247), rgb(248, 236, 244),  rgb(253, 249, 252));
   border: solid rgb(211, 209, 209);
}

.link-wrapper {
    margin-inline: auto;
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contact-link a i {
    padding: 1px 100px 1px 100px;
    text-align: center;
    text-decoration: none;
    color:  rgb(97, 3, 97);
}

.contact-link a i:hover {
    color: rgb(248, 6, 228);
    text-decoration: none;
    transform: scaleX(1.25);
    transition: 1s;   
}

.background {
    margin-inline: auto;
    background-image: url(assets/BloodsLake.JPG);
    height: 40rem;
    max-width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hello {
    padding-right: 20%;
    float: right;
}

.hello h1{
    font-size: 3rem; 
    font-weight: 900;
    font-family: 'Merienda', italic, serif;
    color: rgb(158, 97, 182);
    animation-name: hello;
    animation-duration: 5s;
    animation-direction: alternate; 
    animation-iteration-count: 1;
    letter-spacing: 6px;
    text-shadow: 1px 1px 1px black;
    
}   

@keyframes hello {
 0% {color: rgb(97, 3, 97); letter-spacing: 2px}
 20% {color: rgb(109, 38, 138)};
 20% {color: rgb(158, 97, 182); letter-spacing: 3px}
 30% {color: rgb(178, 132, 196)};
 30% {color: rgb(178, 158, 185); letter-spacing:4px}
 40% {color: rgb(196, 183, 202)};
 40% {color: rgb(219, 210, 223); letter-spacing: 5px}
 50% {color: rgb(196, 183, 202)};
 60% {color: rgb(178, 158, 185); letter-spacing:6px}
 70% {color: rgb(178, 132, 196)};
 80% {color: rgb(158, 97, 182); letter-spacing: 7px}
 90% {color: rgb(109, 38, 138)};
 100% {color: rgb(97, 3, 97); letter-spacing: 8px}
}

.name-container {
    margin-inline: auto;
    max-width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center; 
    text-align: center;
    background-color: rgb(243, 242, 242);
    background-image: linear-gradient(rgb(250, 212, 239), rgb(253, 235, 247), rgb(248, 236, 244),  rgb(253, 249, 252));
    border: solid rgb(211, 209, 209);
}

.name {
    display: flex; 
    font-family:'Merienda', italic, serif;
    font-weight: 900;
    color: rgb(97, 3, 97);
    text-shadow: 1px 1px 1px black;
}

.background-planks {
    margin-inline: auto;
    background: url(assets/woodplanks2.jpg);
}

.mid-block {
    min-height: 250px;
    margin-inline: auto;
    width: min(100%, 100rem);
}

.image-block {
    float: left;
    margin-inline: auto;
    justify-content: center;
    align-content: center;
    padding-top: 2%; 
    padding-right: 2%;
}

.image {
    
    height: 225px; 
    border-radius: 20%;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 1);
}

.about-me-container {
    margin-inline: auto;
    
    display: flex;
}


.about-me-grid-container {
margin-inline: auto;
display: grid;
display: flex; 
}

.grid-item1 {
    margin-inline: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    width: min(70%, 70rem);
    
    
}

.grid-item2 {
    margin-inline: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    /*align-content: center;*/ 
    /*justify-content: center;*/ 
    padding-top: 1%;
    width: min(20%, 20rem);
   
   
}

.background-headings {
    line-height: 2;
    font-family: 'Merienda', italic, serif;
    font-size: 1.5rem;
    font-weight: 900;
    color:  rgb(94, 6, 94); 
    text-shadow: 1px 1px 1px black;
}


/*
.paper {
    background-image: url(assets/tornpaper2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: min(100%, 100rem);
}
*/

.description{
    
    margin-inline: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 0.987rem;
    font-weight: 900;
    color:  rgb(94, 6, 94); 
    /*padding: 5%;*/
    width: min(90%, 90rem);
    text-shadow: 1px 1px 0 black;
}

.first-paragraph {
    padding-right: 1%;
   
}

.second-paragraph {
    padding-left: 4%; 
    padding-right: 1%;
}

.third-paragraph {
    padding-left: 9%; 
}

.skills-box {
    float: right;
    height: 200px;
    max-width: 100%;
    background-color:  rgb(243, 242, 242);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 1);
}

.skills-box p{
    padding-top: 2%;
    padding-left: 15%;
    width: min(90%, 70.5rem);
}

.bullet-points {
    padding-top: 2%;
    margin-inline: auto;
    width: min(90%, 70.5rem);
    font-family: 'Georgia', serif, sans-serif;
    font-weight: 900;
    font-size: 70%;
    color:  rgb(94, 6, 94); 
}


.flex-container {
    max-width: 100%;
display: flex;
align-content: center;
justify-content: center;
min-height: 600px; 
padding-bottom: 2%; 

}

.resume {
    min-height: 590px;
   padding: 0 0 5px 0;
    object-fit: fill;
    text-decoration: none; 
    background-color:  rgb(243, 242, 242); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 1);
}

.res-headers {
    font-family: 'Merienda', italic, serif;
    font-size: 14px;
    font-weight: 900;
    text-shadow: 0.5px 0.5px; 
    color: rgb(82, 2, 82);
    padding-left: 1%;
    padding-top: 1%;
    text-indent: 1%;
}

.res-headers-box {
    background-color: rgb(233, 212, 245);
    height: 25px; 
   }

.res-style1 {
    font-family: 'Georgia', serif, sans-serif;
    
    font-weight: 900;
    padding-left: 5%; 
}

.res-style2 {
    font-family: 'Georgia', serif, sans-serif;
    font-size: 12px;
    padding-left: 5%; 
}

.res-style3 {
    font-family: 'Georgia', serif, sans-serif;
    font-size: 10px;
    font-weight: 900;
    padding-left: 3%; 
}
 

.footer {
    margin-inline: auto;
    align-self: flex-end;
    min-height: 30px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding-top: 1%;
    color: black; 
    background-image: linear-gradient(rgb(250, 212, 239), rgb(253, 235, 247), rgb(248, 236, 244),  rgb(253, 249, 252));
}

@viewport{
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}
